/* General */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent; }
  *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }

body,
html {
  font-family: "Overpass Mono", monospace;
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

body {
  --text-color: #242423;
  --background-color: #CFDBD5;
  --background-color-2: #c1cdc7;
  --background-color-3: #bbc4bf;
  --link-color: #333533;
  --link-hover-color: #F5CB5C;
  background-color: var(--background-color);
  font-family: "Overpass Mono", monospace;
  font-weight: 500;
  color: #242423; }

::selection {
  color: #242423;
  background-color: #F5CB5C; }

main {
  position: relative;
  width: 100%;
  overflow: hidden; }

@-webkit-keyframes shift {
  0% {
    -webkit-filter: hue-rotate(-90deg);
    filter: hue-rotate(-90deg); }
  100% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg); } }
@keyframes shift {
  0% {
    -webkit-filter: hue-rotate(-90deg);
    filter: hue-rotate(-90deg); }
  100% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg); } }
a {
  text-decoration: none;
  color: #333533;
  outline: none; }
  a:focus, a:hover {
    color: #F5CB5C;
    outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500; }

/* heading into magic */
/* mixin up goodness */
h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.5em; }

/* Header */
.main-header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  z-index: 100;
  grid-area: header;
  align-self: start;
  justify-self: start; }

.main-header__title {
  font-size: 1.3rem;
  padding: 1.4em 0;
  margin: 0;
  font-family: "Overpass Mono", monospace;
  font-weight: 500; }

.main-links {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em 0 0;
  text-align: center;
  white-space: nowrap; }

.main-icon {
  position: relative;
  display: inline-block;
  padding: 0.75em 0.75em 1em; }

/* Utilities */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor; }

.invisible {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

.invert {
  filter: invert(100%); }

.invert20 {
  filter: invert(20%); }

/* Fun stuff */
.censor-link {
  font-size: 2.4em;
  overflow: hidden;
  padding: 10px 10px 0;
  line-height: 1;
  color: #242424;
  position: absolute; }

.censor-link:hover {
  color: #333533; }

.censor-link::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #F5CB5C;
  -webkit-transform: translate3d(101%, 0, 0);
  transform: translate3d(101%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.censor-link:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.censor-link span {
  display: block;
  position: relative; }

.censor-link span::before {
  content: attr(data-letters);
  position: absolute;
  color: #fff;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.censor-link:hover span::before {
  width: 100%; }

.decoshape {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  fill: var(--background-color-3); }

.morph-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: #CFDBD5;
  -webkit-animation: shift 15s infinite ease-in-out alternate;
  animation: shift 15s infinite ease-in-out alternate; }

.morph {
  position: relative;
  height: 100%;
  fill: var(--background-color-2);
  flex: none; }

/* IG shiz */
.IG-grid {
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  justify-content: start;
  flex-grow: 1;
  flex-shrink: 0;
  grid-gap: 0.75em;
  padding: 0.75em;
  width: 100%;
  display: grid; }
  .IG-grid > * {
    line-height: 0;
    transition: 0.4s ease; }
    .IG-grid > * a {
      display: block;
      position: relative;
      transition: 0.4s ease; }
    .IG-grid > * img {
      border-radius: 2%;
      transition: 0.4s ease;
      object-fit: cover; }
    .IG-grid > *:hover {
      background-color: transparent;
      border-radius: 1.25em;
      padding: 0.75em; }
      .IG-grid > *:hover a:before {
        opacity: 1;
        z-index: 1; }
      .IG-grid > *:hover img {
        border-radius: 1.25em;
        z-index: 0; }

/* Sections*/
.content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  pointer-events: none; }

.content {
  position: relative;
  display: grid; }

.content--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  z-index: 100;
  pointer-events: none;
  padding: 1.5em;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 4em;
  grid-template-areas: "header ..." "... decotitle" "demos decotitle"; }
  .content--fixed a {
    pointer-events: auto; }

.content--layout {
  pointer-events: auto;
  justify-content: center;
  align-content: center;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 75px 75px;
  grid-template-areas: "... title title title" "author ... desc desc" "author ... link link"; }

.content--related {
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 0 2em;
  min-height: 120vh;
  font-size: 0.85em;
  display: block; }

.content__img {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  opacity: 0.8;
  width: 300px;
  height: 300px; }

.content__title {
  grid-area: title;
  letter-spacing: -0.025em;
  font-size: 8rem;
  line-height: 160px;
  text-transform: lowercase;
  z-index: 10;
  margin: 0 0 0 80px;
  cursor: default; }
  .content__title img {
    width: 20%; }

.content--related.container h3.content__title {
  margin: 0 !important; }

.content__author {
  grid-area: author;
  margin: 0;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  padding: 1em;
  text-align: right;
  z-index: 10;
  cursor: default; }

.content__desc {
  grid-area: desc;
  font-size: 1.1rem;
  margin: 0;
  z-index: 10;
  padding: 0 1em;
  cursor: default; }

.content__author,
.content__desc,
.content__img,
.content__title {
  transition: transform 0.3s ease-out; }

.content__link {
  pointer-events: auto;
  grid-area: link;
  align-self: end;
  justify-self: start;
  z-index: 10;
  margin-top: 1.3em;
  padding: 0 1em 0 0.5em; }

.content__info {
  grid-column: 1 / 3; }

.content__related-item {
  padding: 1em;
  transition: color 0.3s; }

.content__related-img {
  max-width: 100%;
  opacity: 0.8;
  transition: opacity 0.3s; }

.content__related-item:focus .content__related-img, .content__related-item:hover .content__related-img {
  opacity: 1; }

.content__related-title {
  font-size: 1em;
  margin: 0;
  padding: 0.5em; }

.content--layout-2 {
  grid-template-areas: "... title title title" "desc desc ... author" "link link ... author"; }
  .content--layout-2 .content__img {
    grid-column: 3 / 5;
    grid-row: 1 / 3; }
  .content--layout-2 .content__desc {
    text-align: right; }
  .content--layout-2 .content__link {
    justify-self: end; }
  .content--layout-2 .content__author {
    justify-self: end;
    align-self: start; }

.content--layout-3 {
  grid-template-rows: 75px 75px 150px;
  grid-template-areas: "... ... desc desc" "author title title title" "author ... link link"; }
  .content--layout-3 .content__img {
    grid-column: 1 / 3;
    grid-row: 1 / 3; }
  .content--layout-3 .content__desc {
    align-self: end; }

/* Deco elements */
.deco {
  pointer-events: none; }

.title {
  grid-area: decotitle;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  text-align: right;
  align-self: end;
  justify-self: end;
  font-size: 1.3rem; }

/* Responsive */
@media screen and (max-width: 1366px) {
  .content--fixed {
    height: auto;
    min-height: 0;
    display: block;
    z-index: 1000;
    position: absolute; }

  .main-header {
    align-items: center;
    flex-direction: column; }

  .IG-grid > * a:before {
    background: transparent !important; } }
@media screen and (max-width: 1024px) {
  .content--layout {
    transform: scale3d(0.8, 0.8, 1); }

  .IG-grid > * a img {
    width: 104%;
    margin: -20px; } }
@media screen and (max-width: 720px) {
  .content--layout {
    transform: scale3d(0.7, 0.7, 1); }

  .content__related {
    min-height: 1460px; } }
@media screen and (max-width: 480px) {
  body {
    font-size: 1.05rem; }

  .main-links {
    margin: 0; }

  .content__title {
    margin: -80px 0 0; }

  .content__author, .content__desc, .content__link {
    font-size: 1.66rem;
    padding: 0; }

  .title {
    font-size: 1rem; }

  .content--layout {
    transform: scale3d(0.5, 0.5, 1); }

  .content__author,
  .content__desc,
  .content__link {
    font-size: 1.35em; }

  .content__related {
    align-content: start;
    justify-content: center;
    display: inline-flex; }

  .IG-grid > * a img {
    width: 146%;
    margin: -20px; }
  .IG-grid > * a:before {
    background: transparent !important; } }
/* Experimental grid */
.flex-grid {
  display: flex; }

.flex-grid .col {
  flex: 1;
  padding: 1.3rem; }

.flex-grid-thirds {
  display: flex;
  justify-content: space-around; }

.flex-grid-thirds .col {
  width: 32%;
  padding: 20px 10px; }

@media (max-width: 480px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block; }
    .flex-grid .col,
    .flex-grid-thirds .col {
      width: 80%;
      margin: 0 0 10px; } }
